

    .mainExperiencias{
        padding: 5px;
        .contError{
            text-align: center;
            .botonesExperiencias{
                gap: 5px;
                .contBoton{
                    margin: 10px;
                }
                .contBotoninformar{
                    margin: 10px;
                }
            }
        }
    }