
.bodyContacto{
    .footerContacto{
        padding: 5px;
        .contContactos{
            margin-top: 15px;
            .iconContactos{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 15px;
            }
        }
    }
}