

.mainServicios{
    .contParrservicios{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .divParrafoservicios{
            .tituloServicios{
                text-align: center;
            }
            .tarjetaServiciosuno{
                margin-top: 15px;
                margin-bottom: 15px;
                margin-left: 7px;
                margin-right: 7px;
            }
        }
    }
}