
@media (min-width: 1024px){

    /* CONTACTO */
    .mainContacto{
        .contformularioContacto{
            align-items: center;
            .formularioContacto{
                margin-left: 90px;
                .contFormcorreo{
                    text-align: center;
                }
                .botonContacto{
                    width: 200px;
                    margin-left: 330px;
                }
            }
        }
        
    }

}