

    .mainAuto{
        .textocardAuto{
            margin-top:80px;
            color: white;
        }
        .contParraauto{
            .divParrafoauto{
                display: flex;
                flex-direction: column;
                padding: 10px;
                text-align: center;
            }
        }
    }
