
/* COLORES BACKGROUND DE TODAS LAS PAGINAS */

$colorIndex:#fffef1;
$colorNosotros:#f0fff7;
$colorExperiencias:#FCFEFD;
$colorContacto:#e8eeeb;
$colorAutomatizacion:#e0f2ff;
$colorEnergias:#E8F8FE;
$colorTransmision:rgb(241, 250, 255) ;
$colorServicios:rgb(238, 235, 227) ;

/* PARRAFOS  */

$colorParrafoauto:rgb(237, 237, 237);